# Logs
logs
*.log
npm-debug.log*

node_modules

# CRITICAL: Comment out 'dist' so you can push your build to cPanel
# dist 

dist-ssr
*.local

# Editor directories and files
.vscode/*
.idea
.DS_Store
.env