# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules

# CRITICAL: We comment out 'dist' so that your LOCAL build 
# can be committed and pushed to the cPanel repository.
# dist

dist-ssr
*.local

# Editor directories and files
.vscode/*
.idea
.DS_Store
.env